<div class="row" id="sideNav">
        <div class="col-2">
          <div  class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            
            <a style="color: white" class="nav-link" [routerLink]="['28']">Action</a>
            <a style="color: white" class="nav-link" [routerLink]="['12']">Adventure</a>
            <a style="color: white" class="nav-link" [routerLink]="['16']">Animation</a>
            <a style="color: white" class="nav-link" [routerLink]="['35']">Comedy</a>
            <a style="color: white" class="nav-link" [routerLink]="['80']">Crime</a>
            <a style="color: white" class="nav-link" [routerLink]="['99']">Documentary</a>
            <a style="color: white" class="nav-link" [routerLink]="['18']">Drama</a>
            <a style="color: white" class="nav-link" [routerLink]="['10751']">Family</a>
            <a style="color: white" class="nav-link" [routerLink]="['14']">Fantasy</a>
            <a style="color: white" class="nav-link" [routerLink]="['36']">History</a>
            <a style="color: white" class="nav-link" [routerLink]="['27']">Horror</a>
            <a style="color: white" class="nav-link" [routerLink]="['9648']">Mystery</a>
            <a style="color: white" class="nav-link" [routerLink]="['878']">Science Fiction</a>
            <a style="color: white" class="nav-link" [routerLink]="['53']">Thriller</a>
            <a style="color: white" class="nav-link" [routerLink]="['10752']">War</a>
            <a style="color: white" class="nav-link" [routerLink]="['37']">Western</a>
          </div>
        </div>
</div>

