<a class="btn btn-default btn-block" target="_blank"><h1>Update Profile</h1>
</a>

<!--<form (submit)="update()">

       
        <label>Email : {{user.email}}  <br>
        <input [(ngModel)] ="user.email" placeholder ="email"  [ngModelOptions]="{standalone: true}"/>
        </label><br>
        <label>Password : {{user.password}} <br>
        <input [(ngModel)] = "user.password" placeholder ="password"  [ngModelOptions]="{standalone: true}"/>
        </label><br>
        <label>First name : {{user.firstname}} <br>
        <input [(ngModel)] = "user.firstname" placeholder ="firstname"  [ngModelOptions]="{standalone: true}"/>
        </label><br>
        <label>Last name : {{user.lastname}} <br>
        <input [(ngModel)] = "user.lastname" placeholder ="lastname"  [ngModelOptions]="{standalone: true}"/>
        </label><br>
        <label>Address : {{user.address}} <br>
        <input [(ngModel)] = "user.address" placeholder ="address"  [ngModelOptions]="{standalone: true}"/>
        </label><br>
        <label>City : {{user.city}} <br>
        <input [(ngModel)] = "user.city" placeholder ="city"  [ngModelOptions]="{standalone: true}"/>
        </label><br>
        <label>State : {{user.state}} <br>
        <input [(ngModel)] = "user.state" placeholder ="state"  [ngModelOptions]="{standalone: true}"/>
        </label><br>
        <label>Phone number : {{user.phonenumber}} <br>
        <input [(ngModel)] = "user.phonenumber" placeholder ="phonenumber"  [ngModelOptions]="{standalone: true}"/>
        </label><br>
   
        <button type="submit">Submit Changes</button>
        
    </form> -->

    

    <form class="form-horizontal" role="form" style="max-width: 40%">

            
          <div class="form-group">
                <label>Email : {{user.email}}</label>
                <input class="form-control" [(ngModel)] ="user.email" placeholder ="email"  [ngModelOptions]="{standalone: true}"/>
                     </div>
               <div class="form-group">

          <div class="form-group">
            <label>Password : {{user.password}}</label>
            <input class="form-control"  [(ngModel)] = "user.password" placeholder ="password"  [ngModelOptions]="{standalone: true}"/>
                 </div>
           <div class="form-group">
               
            <label>Firstname : {{user.firstname}} </label>
           
            <input class="form-control"  [(ngModel)] = "user.firstname" placeholder ="firstname"  [ngModelOptions]="{standalone: true}"/>
               
                </div>
            <div class="form-group">
                <label>Lastname : {{user.lastname}}</label>
              
                <input class="form-control"  [(ngModel)] = "user.lastname" placeholder ="lastname"  [ngModelOptions]="{standalone: true}"/>
                    </div>
            <div class="form-group">
                <label>Address : {{user.address}} </label>
           
                <input class="form-control"  [(ngModel)] = "user.address" placeholder ="address"  [ngModelOptions]="{standalone: true}"/>
                  </div>
           <div class="form-group">
                <label>City : {{user.city}}</label>
              
                <input class="form-control"  [(ngModel)] = "user.city" placeholder ="city"  [ngModelOptions]="{standalone: true}"/>
                
                 </div>
            <div class="form-group">
                 <label>State : {{user.state}}</label>
                      
                <input class="form-control"  [(ngModel)] = "user.state" placeholder ="state"  [ngModelOptions]="{standalone: true}"/>
                        
                </div>
          <div class="form-group">
                <label>Phone Number : {{user.phonenumber}}</label>
 
                <input class="form-control"  [(ngModel)] = "user.phonenumber" placeholder ="phonenumber"  [ngModelOptions]="{standalone: true}"/>
                
          </div>
          
         
        <br>
        <button (click) = "update()" class="btn btn-primary">Submit Changes</button>
        
        </div>
        </form>