<!-- <div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-title">
                        <h3>{{movie.title}}</h3>
                    </div>
                </div>
                <div class="col-md-3"> -->
                    <!-- <p><img src="{{posterUrl}}" alt="could not display" class="rounded mx-auto d-block"></p> -->
                    <!-- <p><img src="{{posterUrl}}" alt="could not display"></p> -->
                <!-- </div>
            </div class="col-md-3">
            <p><strong>Description: </strong> {{movie.Description}}</p>
        </div>
    </div>
</div>  -->
